// Popups
.ngdialog.ngdialog-theme-default {
	padding: 0;

	.row {
		margin: 0!important;
	}

	.ngdialog-overlay {
		height: auto;
	}

	.ngdialog-content {
		box-shadow: 0 1px 10px rgba(black, 0.5);
		@include pie-clearfix;
		width: 80%;
		min-height: 550px;
		margin-top: 5%;
		border-radius: 0;
		border-top: 1px solid #fff;
		border-left: 1px solid #fff;
		padding: 30px;

		@media (max-height: 700px) {
			margin-top: 3%;
		}

		@media (min-height: 900px) {
			margin-top: 8%;
		}
	}

	.buttons {
		padding: 0 15px;
	}

	.redactor_form-control, textarea {
		min-height: 350px;
		max-height: 350px;
	}

	.select2-drop {
		z-index: 10000!important;
	}

}

.redactor_dropdown {
	z-index: 10000;
	box-sizing: content-box;

	a {
		box-sizing: content-box;
	}
}
