<form role="form" ng-controller="EditController">
	<div class="row">
		<div class="col-md-8">
			<h3>Edit news:</h3>
			<div class="form-group">
				<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit.">
			</div>
			<div class="form-group" style="height: 385px;">
				<textarea class="form-control" ng-model="content" redactor>
<img src="img/10.jpg" alt="Image 2" style="width: 284px; float: left; margin: 0px 10px 10px 0px; height: 284px;">
<h3>Fahrenheit 451</h3>
<p><span style="color: #a5a5a5;"><em>by Ray Bradbury</em></span></p>
<p style="text-align: justify;">He took hold of a straight-backed chair and moved it slowly and steadily into the hall near the front door and climbed up on it and stood for a moment like a statue on a pedestal, his wife standing under him, waiting. Then he reached up and pulled back the grill of the air-conditioning system and reached far back inside to the right and moved still another sliding sheet of metal and took out a book. Without looking at it he dropped it to the floor. He put his hand back up and took out two books and moved his hand down and dropped the two books to the floor. He kept moving his hand and dropping books, small ones, fairly large ones, yellow, red, green ones. When he was done he looked down upon some twenty books lying at his wife’s feet.</p>
<p>"I’m sorry," he said. "I didn’t really think.</p>
<p style="text-align: justify;">But now it looks as if we’re in this together." Mildred backed away as if she were suddenly confronted by a pack of mice that had come up out of the floor. He could hear her breathing rapidly and her face was paled out and her eyes were fastened wide. She said his name over, twice, three times. Then, moaning, she ran forward, seized a book and ran toward the kitchen incinerator. He caught her, shrieking. He held her and she tried to fight away from him, scratching.</p>
				</textarea>
			</div>
		</div>

		<div class="col-md-4">
			<h3>&nbsp;</h3>
			<div class="form-group">
				<tags-input ng-model="tags">
					<auto-complete source="loadCategories()"></auto-complete>
				</tags-input>
			</div>
			<div class="form-group">
				<select ng-model="userEdit" class="form-control" ng-options="user.name for user in users"></select>
			</div>
			<div class="form-group">
				<input type="date" class="form-control" id="exampleInputEmail1" placeholder="Date" value="2014-04-24">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="buttons pull-right">
			<button type="button" class="btn btn-default">Save draft</button>
			<button type="button" class="btn btn-success">Edit</button>
		</div>
	</div>
</form>
