<div class="scroll">
	<div class="row">	
		<div class="col-md-6 board-box row-2">
			<div class="inside">
				<div class="nag">
					Lorem ipsum <span>dolor</span>.
				</div>
			</div>
		</div>
	
		<div class="col-md-3 board-box row-2">
			<div class="inside color" style="background: #736086;">
				<div class="nag" style="color: #fff;">Latest <span>news</span></div>

				<div class="text">
					Lorem ipsum dolor sit <span>amet</span>, <span>consectetur</span> adipisicing elit. Nobis autem <span>recusandae</span> <span>deleniti</span> a.
				</div>

			</div>
		</div>

		<div class="col-md-3 board-box row-2">
			<div class="inside" style="background: #22262e;">
				<div class="nag" style="color: #fff;">Welcome <span>Artur</span></div>
				<div class="copy">
					<div class="avatar">
						<img src="img/9.jpg" alt="">
					</div>
					<div class="details">
						<ul>
							<li><a ui-sref="profile"><span class="glyphicon glyphicon-user"></span> Profil</a></li>
							<li><a href=""><span class="glyphicon glyphicon-cog"></span> Ustawienia</a></li>
							<li><a href=""><span class="glyphicon glyphicon-lock"></span> Zmiana hasła</a></li>
							<li><a href=""><span class="glyphicon glyphicon-off"></span> Wyloguj sie!</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	
	</div>
	
	<div class="row">
		<div class="col-md-3 board-box row-2">
			<div class="inside" style="background-color: #f8f8f8; background-image: url(img/upload.jpg)!important;">
				
			</div>
		</div>
		
		<div class="col-md-3 board-box row-2">
			<div class="inside background" style="background-image: url(img/1.jpg)!important;">
				<div class="nag" style="color: #fff;">Lorem <span>ipsum dolor</span></div>
			</div>
		</div>
		<div class="col-md-6 board-box row-2">
			<div class="inside">
				<div class="nag">Lorem <span>ipsum</span> dolor <span>sit</span>.</div>
			</div>
		</div>
	
		
	</div>
	
	<div class="row">
		<div class="col-md-6 board-box row-2">
			<div class="inside">
				<div class="nag">Lorem <span>ipsum</span>.</div>
			</div>
		</div>
	
		<div class="col-md-3 board-box row-2">
			<div class="inside color" style="background: #0090d9;">
				<div class="nag" style="color: #fff;">Latest <span>comment</span></div>
				<div class="text">
					Lorem ipsum dolor sit <span>amet</span>, <span>consectetur</span> adipisicing elit. Nobis autem <span>recusandae</span> <span>deleniti</span> a.
				</div>
			</div>
		</div>
	
		<div class="col-md-3 board-box row-2">
			<div class="inside background" style="background-image: url(img/4.jpg)!important;">
				<div class="nag" style="color: #fff;">Lorem <span>ipsum dolor</span></div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-3 board-box row-2">
			<div class="inside background background-portret" style="background-image: url(img/5.jpg)!important;">
				<div class="nag" style="color: #fff;">Lorem <span>ipsum dolor</span></div>
			</div>
		</div>

		<div class="col-md-6 board-box row-2">
			<div class="inside">
				<div class="nag">Lorem ipsum <span>dolor</span>.</div>
			</div>
		</div>

		<div class="col-md-3 board-box row-2">
			<div class="inside color" style="background: #f35958;">
				<div class="nag" style="color: #fff;">Latest <span>Article</span></div>

				<div class="text">
					Lorem ipsum dolor sit <span>amet</span>, <span>consectetur</span> adipisicing elit. Nobis autem <span>recusandae</span> <span>deleniti</span> a.
				</div>
			</div>
		</div>
	</div>
</div>