<div class="scroll">

	<div class="row">
		<div class="col-md-6 col-sm-6 box box-sm box-first">
			<div class="inside">
				grtdgdgrd
			</div>
		</div>
		<div class="col-md-6 col-sm-6">
			<div class="row">
				<div class="col-md-6 col-sm-6 box box-sm">
					<div class="inside color color-red">
						<div class="header">
							Latest <span>news</span>

							<div class="dropdown pull-right">
								<a data-toggle="dropdown" href="#" class="glyphicon glyphicon-cog"></a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
									<li><a href="#"><i class="glyphicon glyphicon-edit"></i> Edit</a></li>
									<li><a href="#"><i class="glyphicon glyphicon-trash"></i> Delete</a></li>
								</ul>
							</div>

						</div>

						<div class="copy">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, tenetur, neque quaerat iure facere voluptatem laborum blanditiis nulla hic omnis nesciunt vel quas suscipit quis dolor.
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 box box-sm box-last">
					<div class="inside color color-dark">
						<div class="header">
							Welcome <span>Artur</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-sm-6">
			<div class="row">
				<div class="col-md-6 col-sm-6 box box-sm box-first">
					<div class="inside full-size color-light center">

					</div>
				</div>
				<div class="col-md-6 col-sm-6 box box-sm">
					<div class="inside background">grd</div>
				</div>
			</div>
		</div>

		<div class="col-md-6 col-sm-6 box box-sm box-last">
			<div class="inside">
				grtdgdgrd
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9 col-sm-9 box box-md box-first">
			<div class="inside">
				<div class="header">
					Site <span>statistics</span>
				</div>
				<div class="copy">

				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-3">
			<div class="row">
				<div class="col-md-12 box box-xs box-last">
					<div class="inside">
						grtdgdgrd
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 box box-xs box-last">
					<div class="inside">
						grtdgdgrd
					</div>
				</div>
			</div>
		</div>
	</div>


</div>
