<div class="scroll">
	<div class="row">
		<div class="col-md-12 title">
			<h1>News</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9 col-sm-9 box box-first">
			<div class="inside">
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="col1"><input type="checkbox" ng-model="selectedAll"></th>
							<th class="col2">Title</th>
							<th class="col3">Autor</th>
							<th class="col4">Categories</th>
							<th class="col5">Date</th>
							<th class="col6">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="news in newses | filter: { title : titleFilter }  | filter: { date : dateFilter } | filter: { author : authorFilter } | filter: { categories : categorieFilter }">
							<td class="col1"><input type="checkbox" ng-checked="selectedAll"></td>
							<td class="col2">{{ news.title }}</td>
							<td class="col3">{{ news.author }}</td>
							<td class="col4">{{ news.categories }}</td>
							<td class="col5">{{ news.date }}</td>
							<td valign="middle" class="col6">
								<a ng-click="editPopup(news)" ><i class="glyphicon glyphicon-edit"></i></a>&nbsp;&nbsp;
								<a href="#"><i class="glyphicon glyphicon-remove"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-3 col-sm-3 box box-last">
			<div class="inside">
				<div class="header">
					Filter <span>newses</span>
				</div>
				<form role="form">
					<div class="form-group">
						<input type="text" class="form-control" id="exampleInputEmail1" placeholder="By title" ng-model="titleFilter">
					</div>
					<div class="form-group">
						<select ui-select2 multiple ng-model="authorFilter" data-placeholder="By author">
							<option ng-repeat="user in users" value="{{user.value}}">
								{{user.name}}
							</option>
						</select>
					</div>
					<div class="form-group">
						<select ui-select2 multiple ng-model="categorieFilter" data-placeholder="By categorie">
							<option ng-repeat="categorie in categories" value="{{categorie.value}}">
								{{categorie.name}}
							</option>
						</select>
					</div>
					<div class="form-group">
						<input type="date" class="form-control" id="exampleInputEmail1" placeholder="Date" ng-model="dateFilter">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
